<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="share-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Pietro Roayalty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scrollEvents="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pietro Roayalty</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed="true">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-img [src]="post.imageSrc"></ion-img>
          <ion-card-header>
            <ion-card-title [innerHtml]="post.title" color="primary" class="ion-text-uppercase"></ion-card-title>
          </ion-card-header>
          <ion-item lines="none" class="no-safe-area">
            <ion-label color="secondary" slot="start">{{ post.date | date: 'longDate'}}</ion-label>
            <!-- <ion-button *ngFor="let tag of post.tags" fill="clear" color="tertiary" slot="end"
              >{{ getTag(tag) }}</ion-button
            > -->
            <ion-chip *ngFor="let tag of post.tags" color="tertiary" slot="end" class="unclickable"
              >{{ getTag(tag) }}</ion-chip
            >
          </ion-item>
          <ion-card-content>
            <p *ngFor="let text of post.text" [innerHtml]="text" style="margin-top: 16px"></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
