// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #141414;
  --ion-color-primary-rgb: 20, 20, 20;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #121212;
  --ion-color-primary-tint: #2c2c2c;

  --ion-color-secondary: #808080;
  --ion-color-secondary-rgb: 128, 128, 128;
  --ion-color-secondary-contrast: #141414;
  --ion-color-secondary-contrast-rgb: 20, 20, 20;
  --ion-color-secondary-shade: #717171;
  --ion-color-secondary-tint: #8d8d8d;

  --ion-color-tertiary: #82745b;
  --ion-color-tertiary-rgb: 130, 116, 91;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #726650;
  --ion-color-tertiary-tint: #8f826b;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #141414;
  --ion-color-warning-contrast-rgb: 20, 20, 20;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #141414;
  --ion-color-dark-rgb: 20, 20, 20;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #121212;
  --ion-color-dark-tint: #2c2c2c;

  --ion-color-medium: #ebebeb;
  --ion-color-medium-rgb: 235, 235, 235;
  --ion-color-medium-contrast: #141414;
  --ion-color-medium-contrast-rgb: 20, 20, 20;
  --ion-color-medium-shade: #cfcfcf;
  --ion-color-medium-tint: #ededed;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #141414;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  // --ion-font-family: 'PRGroupCondensed-Regular';

  // --the-background-color: #222222;
  // --the-background-color-rgb: 238, 238, 238;

  // --ion-background-color: var(--the-background-color);
  // --ion-background-color-rgb: var(--the-background-color-rgb);

  // --ion-item-background: transparent; // var(--the-element-background-color);

  // --ion-padding: 16px;
  // --ion-margin: 16px;

  // --ion-safe-area-top: 16px;
  // --ion-safe-area-bottom: 16px;

  --ion-grid-padding: 0;
  --ion-grid-column-padding: 0;

  --ion-grid-width-xl: 1520px;
  --ion-grid-width-lg: 1140px;

  --ion-background-color: var(--ion-color-light);
  --ion-background-color-rgb: var(--ion-color-light-rgb);
}

// @media (prefers-color-scheme: dark) {

/*
 * Dark Colors
 * -------------------------------------------
 */

body.dark {
  --ion-color-primary: #ffffff;
  --ion-color-primary-rgb: 255, 255, 255;
  --ion-color-primary-contrast: #141414;
  --ion-color-primary-contrast-rgb: 20, 20, 20;
  --ion-color-primary-shade: #e0e0e0;
  --ion-color-primary-tint: #ffffff;

  --ion-color-secondary: #808080;
  --ion-color-secondary-rgb: 128, 128, 128;
  --ion-color-secondary-contrast: #141414;
  --ion-color-secondary-contrast-rgb: 20, 20, 20;
  --ion-color-secondary-shade: #717171;
  --ion-color-secondary-tint: #8d8d8d;

  --ion-color-tertiary: #82745b;
  --ion-color-tertiary-rgb: 130, 116, 91;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #726650;
  --ion-color-tertiary-tint: #8f826b;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #141414;
  --ion-color-warning-contrast-rgb: 20, 20, 20;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #ffffff;
  --ion-color-dark-rgb: 255, 255, 255;
  --ion-color-dark-contrast: #141414;
  --ion-color-dark-contrast-rgb: 20, 20, 20;
  --ion-color-dark-shade: #e0e0e0;
  --ion-color-dark-tint: #ffffff;

  --ion-color-medium: #292929;
  --ion-color-medium-rgb: 41, 41, 41;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #242424;
  --ion-color-medium-tint: #3e3e3e;

  --ion-color-light: #141414;
  --ion-color-light-rgb: 20, 20, 20;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #121212;
  --ion-color-light-tint: #2c2c2c;

  --ion-background-color: var(--ion-color-light);
  --ion-background-color-rgb: var(--ion-color-light-rgb);
}

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body.dark {
  //   --ion-background-color: #222222;
  //   --ion-background-color-rgb: 34, 34, 34;

  //   --ion-text-color: #eeeeee;
  //   --ion-text-color-rgb: 238, 238, 238;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  //   --ion-toolbar-background: #0d0d0d;

  //   --ion-item-background: #222222;

  //   --ion-card-background: #1c1c1d;
}

/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body.dark {
  //   --ion-background-color: #121212;
  //   --ion-background-color-rgb: 18, 18, 18;

  //   --ion-text-color: #eeeeee;
  //   --ion-text-color-rgb: 238, 238, 238;

  //   --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  //   --ion-item-background: #1e1e1e;

  //   --ion-toolbar-background: #1f1f1f;

  //   --ion-tab-bar-background: #1f1f1f;

  //   --ion-card-background: #1e1e1e;
}
// }

ion-menu {
  ion-item {
    --color: var(--ion-color-primary);
    --border-color: var(--ion-color-medium);
    // --color-hover: var(--ion-color-secondary);
    // --background-hover-opacity: 0;
    // --background-activated-opacity: 0;

    ion-icon {
      --color: var(--ion-color-primary);
    }
  }
  ion-item:hover {
    ion-icon {
      --color: var(--ion-color-secondary);
    }
  }

  ion-button {
    --color-hover: var(--ion-color-secondary);
  }
}
.ios ion-menu {
  ion-item::part(native) {
    --padding-start: 14px;
  }
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0;
}

ion-toolbar {
  --color: var(--ion-color-primary);
  --background: var(--ion-background-color);
  --border-width: 0;
  --padding-start: 0;
  --padding-end: 0;

  ion-button,
  ion-back-button {
    --color-hover: var(--ion-color-secondary);
    --ripple-color: transparent;
  }
}

ion-button,
ion-back-button {
  --border-radius: 0;
  --background-activated-opacity: 0;
  --background-focused-opacity: 0;
  --background-hover-opacity: 0;
}

ion-item.no-safe-area {
  --ion-safe-area-right: 0;
}

ion-toggle {
  --background: var(--ion-color-medium);
  --background-checked: var(--ion-color-medium);

  --handle-background: var(--ion-color-primary);
  --handle-background-checked: var(--ion-color-primary);
}

ion-searchbar {
  --color: var(--ion-color-primary);
  --placeholder-color: var(--ion-color-medium);
}

.sc-ion-searchbar-ios-h,
.sc-ion-searchbar-md-h {
  --color: var(--ion-color-primary);
  --icon-color: var(--ion-color-primary);
  --clear-button-color: var(--ion-color-medium);
  --cancel-button-color: var(--ion-color-medium);
  --placeholder-opacity: 0.6;
}

.action-sheet {
  --color: var(--ion-color-primary);
  --button-color: var(--ion-color-primary);
  //   --button-color-hover: var(--ion-color-tertiary);
}
.action-sheet-button.sc-ion-action-sheet-ios {
  --color: var(--ion-color-primary);
  --button-color: var(--ion-color-primary);
  --button-background: var(--ion-color-dark);
}
.action-sheet-title.sc-ion-action-sheet-ios {
  --color: var(--ion-color-secondary);
  background: var(--ion-color-dark);
}
.action-sheet-title.sc-ion-action-sheet-md {
  --color: var(--ion-color-secondary);
}

app-footer {
  ion-toolbar {
    --color: var(--ion-color-medium);

    ion-button {
      --color-hover: var(--ion-color-secondary);
    }
  }
}
