<ion-app>
  <ion-menu side="start" menuId="main-menu" contentId="main" (ionDidClose)="mainMenuClosed()">
    <ion-header class="header">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="closeMainMenu()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none" class="menu">
        <ion-item *ngFor="let item of menu?.items" button detail="false" [href]="item.url">
          <ion-icon *ngIf="item.id" [name]="item.id" slot="start" color="primary"></ion-icon>
          <ion-icon *ngIf="item.src" [src]="!nightMode ? item.src.night : item.src.day" slot="start"
            color="primary"></ion-icon>
        </ion-item>
        <ion-item button detail="false" (click)="modeChanged()">
          <ion-icon color="primary" [name]="!nightMode ? 'moon-outline' : 'sunny-outline'"></ion-icon>
        </ion-item>
        <ion-item button detail="false" (click)="switchLanguage()">
          <ion-text color="primary">{{ isEnLanguage ? 'SK' : 'EN' }}</ion-text>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- <ion-menu side="end" menuId="search-menu" contentId="main" (ionDidClose)="searchMenuClosed()"> -->
  <ion-menu side="end" menuId="search-menu" contentId="main">
    <ion-header class="header">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="closeSearchMenu()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-searchbar #searchbar [(ngModel)]="filter.text" (keyup.enter)="closeSearchMenu()"
        (keyup.esc)="closeSearchMenu()" (ionChange)="search()" class="ion-padding-top"></ion-searchbar>
      <!-- <ion-list lines="none">
        <ion-item *ngFor="let tag of filter?.tags" button detail="false" (click)="tag.selected = !tag.selected">
          {{ tag.label | translate }}
          <ion-icon *ngIf="tag.selected" name="checkmark" slot="end" color="tertiary"></ion-icon>
        </ion-item>
      </ion-list> -->
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>