<ion-app>
  <ion-menu side="start" menuId="main-menu" contentId="main">
    <ion-header class="header">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="closeMainMenu()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-item button (click)="navigate('/blog')">{{ 'menu.blog' | translate }}</ion-item>
        <ion-item button (click)="navigate('/e-shop')">{{ 'menu.eShop' | translate }}</ion-item>
        <ion-item button (click)="navigate('/contact')">{{ 'menu.contact' | translate }}</ion-item>
      </ion-list>
      <ion-list *ngIf="!isPlatformIOS" lines="none" style="border-top: 1px solid var(--ion-color-medium)">
        <ion-item>
          <ion-icon name="sunny-outline" [color]="nightMode ? 'medium' : 'primary'"></ion-icon>
          <ion-toggle [(ngModel)]="nightMode"></ion-toggle>
          <ion-icon name="moon-outline" [color]="nightMode ? 'primary' : 'medium'"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-text [color]="enLanguage ? 'medium' : 'primary'">SK</ion-text>
          <ion-toggle [(ngModel)]="enLanguage"></ion-toggle>
          <ion-text [color]="enLanguage ? 'primary' : 'medium'">EN</ion-text>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="isPlatformIOS" lines="none" style="border-top: 1px solid var(--ion-color-medium)">
        <ion-item>
          <ion-icon
            name="sunny-outline"
            [color]="nightMode ? 'medium' : 'primary'"
            style="padding-right: 8px"
          ></ion-icon>
          <ion-icon name="moon-outline" [color]="nightMode ? 'primary' : 'medium'"></ion-icon>
          <ion-toggle [(ngModel)]="nightMode" slot="end"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-text [color]="enLanguage ? 'medium' : 'primary'" style="padding-right: 8px">SK</ion-text>
          <ion-text [color]="enLanguage ? 'primary' : 'medium'">EN</ion-text>
          <ion-toggle [(ngModel)]="enLanguage" slot="end"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-menu side="end" menuId="search-menu" contentId="main">
    <ion-header class="header">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="closeSearchMenu()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-searchbar></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let tag of tags">{{ getTag(tag) }}</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
