<ion-app>
  <ion-header *ngIf="initialization" translucent="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Pietro Roayalty</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="initialization" fullscreen="true" scrollEvents="false" id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title size="large">Blog</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-grid fixed="true" class="full-height">
      <ion-row class="full-height ion-align-items-center">
        <ion-col class="ion-text-center">
          <ion-spinner color="tertiary"></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-menu side="start" menuId="search-menu" contentId="main">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-button (click)="closeMainMenu()" expand="full" fill="clear" color="medium">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button> -->
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button (click)="navigate('/')">{{ 'menu.blog' | translate }}</ion-item>
        <ion-item button (click)="navigate('/e-shop')">{{ 'menu.eShop' | translate }}</ion-item>
        <ion-item button (click)="navigate('/contact')">{{ 'menu.contact' | translate }}</ion-item>
        <ion-item>
          <ion-button fill="clear" color="medium">
            <ion-icon name="logo-facebook" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="medium">
            <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="medium">
            <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button fill="clear" color="medium" class="ion-float-right">
            <ion-icon name="sunny-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-menu side="end" type="push" menuId="main-menu" contentId="main">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Search</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet *ngIf="!initialization" id="main"></ion-router-outlet>
</ion-app>
