ion-card {
  height: 100%;
  padding-top: 32px;
  padding-bottom: 48px;

  & > a {
    text-decoration: none;
  }
  & > a:hover {
    ion-img {
      opacity: 0.5;
    }

    ion-card-title {
      color: var(--ion-color-tertiary);
    }
  }
}
