<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button autoHide="false" menu="main-menu"></ion-menu-button> -->
      <ion-button (click)="openMainMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <ion-menu-button autoHide="false" menu="search-menu"></ion-menu-button> -->
      <ion-button (click)="openSearchMenu()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="tertiary" class="ion-text-center ion-text-uppercase">{{ 'title' | translate }}</ion-title>
    <!-- <ion-title color="tertiary" class="ion-text-center ion-text-uppercase">Pietro Royalty</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scrollEvents="false">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blog</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-grid fixed="true">
    <ion-row *ngIf="filter?.active">
      <ion-col>
        <p class="filter">
          <ion-chip *ngIf="filter.enteredText" outline color="tertiary" (click)="removeTextFilter()">
            <ion-label>&quot;{{ filter.enteredText }}&quot;</ion-label>
            <ion-icon name="close-circle"></ion-icon>
          </ion-chip>
          <!-- <ion-chip *ngFor="let text of filter.texts" outline color="tertiary" (click)="removeTextFilter(text)">
            <ion-label>&quot;{{ text }}&quot;</ion-label>
            <ion-icon name="close-circle"></ion-icon>
          </ion-chip> -->
          <ion-chip
            *ngFor="let tag of filter.selectedTags"
            outline
            color="tertiary"
            (click)="removeTagFilter(tag.name)"
          >
            <ion-label>{{ tag.label | translate }}</ion-label>
            <ion-icon name="close-circle"></ion-icon>
          </ion-chip>
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let post of posts" size="12" sizeMd="6" sizeLg="4" sizeXl="3">
        <ion-card>
          <a [routerLink]="['/blog', post.id]">
            <ion-img [src]="post.imageSrc" class="clickable"></ion-img>
            <ion-card-header>
              <ion-card-title
                [innerHtml]="post.title"
                color="primary"
                class="ion-text-uppercase clickable"
              ></ion-card-title>
            </ion-card-header>
          </a>
          <div class="post-info bottom-positioned">
            <!-- <ion-label color="secondary" slot="start">{{ post.date | date: 'mediumDate' }}</ion-label> -->
            <ion-label color="secondary" slot="start">{{ post.date | date: 'mediumDate' : '' : locale }}</ion-label>
            <div>
              <ion-chip (click)="filterByTag(tag.name)" *ngFor="let tag of post.tags" color="tertiary" slot="end"
                >{{ tag.label | translate }}</ion-chip
              >
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <app-footer></app-footer> -->
</ion-content>
