/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.full-height {
  height: 100%;
}

.clickable {
  cursor: pointer;
}

.unclickable {
  cursor: auto;
}

p.filter {
  margin: 16px;
}

.plt-desktop p.filter {
  margin: 32px 16px 0 16px;
}

/* Back Button */

.ios ion-back-button {
  padding-left: 4px;
}

/* Header */

.header-md::after {
  content: none;
}

ion-header.header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--ion-color-medium);
}

.plt-desktop ion-header.header {
  ion-title {
    font-size: 16px;
  }
}

.header-collapse-condense-inactive:not(.header-collapse-condense) ion-toolbar.in-toolbar ion-title,
.header-collapse-condense-inactive:not(.header-collapse-condense) ion-toolbar.in-toolbar ion-buttons.buttons-collapse {
  opacity: 1;
}

.toolbar-content {
  text-align: center;
}

/* Menu */

.ios {

  ion-list.menu,
  ion-list.social,
  ion-list.settings {
    padding-top: 16px;
  }
}

/* Grid */

ion-grid {
  margin-bottom: 32px;
}

/* Card */

ion-card {
  border-radius: 0;
  box-shadow: none;
}

ion-card-header {
  padding: 20px 16px;
}

ion-card {
  margin: 0 16px 0 16px;
  padding-top: 32px;

  .card-content-ios {
    padding-left: 16px;
    padding-right: 16px;
  }

  ion-item {
    margin-left: 16px;
    margin-right: 16px;
    border-bottom: 1px solid var(--ion-color-medium);

    ion-label {
      margin-right: 0;
    }
  }

  ion-item::part(native) {
    padding-left: 0;

    .item-inner {
      padding-right: 0;
      padding-inline-end: 0;
    }
  }

  ion-chip {
    margin-right: 0;
  }

  .post-info {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 16px;
    padding: 4px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--ion-color-medium);

    // &.bottom-positioned {
    bottom: 0;
    // }
  }
}

// .plt-desktop {
//   ion-card {
//     & > a:hover {
//       ion-img {
//         opacity: 0.9;
//       }
//     }
//   }
// }

/* Searchbar */

.md ion-searchbar {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.searchbar-input.sc-ion-searchbar-md {
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* Action Sheet */

.ios {
  ion-action-sheet ion-icon {
    display: none;
  }
}

/* Slides */
ion-slides {

  // .swiper-pagination-bullet-active {
  //   background: var(--ion-color-tertiary);
  // }
  .swiper-pagination-bullet {
    opacity: 1;
  }
}

/* Footer */

ion-footer {
  ion-toolbar {
    border-top: 1px solid var(--ion-color-medium);

    ion-label {
      padding-left: 16px;
    }
  }
}

/*** Media Queries ***/

@media (min-width: 1200px) {
  ion-footer ion-toolbar {
    margin: 0 auto;
    width: calc(var(--ion-grid-width-xl, var(--ion-grid-width, 1140px)) - 64px);
  }
}

@media (max-width: 576px) {
  ion-card {
    margin: 0;
  }

  ion-grid > ion-row > ion-col:first-of-type ion-card {
    padding-top: 0;
  }

  .ios ion-footer {
    ion-toolbar {
      ion-label {
        padding-left: 8px;
      }
    }
  }
}