ion-card {
  padding-top: 32px;

  ion-card-header {
    padding-top: 0;
  }

  ion-card-content {
    padding-bottom: 64px;
  }

  ion-text {
    display: block;
    font-size: 16px;
    margin-top: 16px;
  }
}

@media (min-width: 768px) {
  ion-card {
    ion-card-header {
      padding: 0 0 20px 0;
    }

    ion-card-content {
      padding-left: 0;
      padding-right: 0;
    }

    .post-info {
      margin: 0;
    }
  }
}
