ion-card {
  padding-top: 32px;

  ion-card-header {
    padding-top: 0;
  }

  ion-card-content {
    padding-bottom: 64px;
  }

  ion-text {
    display: block;
    font-size: 16px;
    margin-top: 16px;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  font-size: 50px;
  z-index: 2;
  color: #ffffff;
}
.arrow.left {
  left: 16px;
}
.arrow.right {
  right: 16px;
}
.arrow:hover {
  cursor: pointer;
}

// ion-slides {
//   .swiper-container-horizontal>.swiper-pagination-bullets {
//     bottom: 0;
//     background-color: rgba(0, 0, 0, .2);
//   }

//   .swiper-pagination {
//     padding: 10px 0;
//   }
// }

@media (min-width: 768px) {
  ion-card {
    ion-card-header {
      padding: 0 0 20px 0;
    }

    ion-card-content {
      padding-left: 0;
      padding-right: 0;
    }

    .post-info {
      margin: 0;
    }
  }
}
