<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="tertiary" class="ion-text-center">Pietro Royalty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scrollEvents="false">
  <ion-grid fixed="true">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-img [src]="post.imageSrc"></ion-img>
          <ion-card-header>
            <ion-card-title [innerHtml]="post.title" color="primary" class="ion-text-uppercase"></ion-card-title>
          </ion-card-header>
          <div class="post-info">
            <ion-label color="secondary" slot="start">{{ post.date | date: 'mediumDate'}}</ion-label>
            <div>
              <ion-chip (click)="filterByTag(tag)" *ngFor="let tag of post.tags" color="tertiary" slot="end"
                >{{ getTag(tag) }}</ion-chip
              >
            </div>
          </div>
          <ion-card-content>
            <ion-text *ngFor="let text of post.text" [innerHtml]="text" color="primary"></ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer></app-footer>
</ion-content>
