<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="share($event)">
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title color="tertiary" class="ion-text-center ion-text-uppercase">Pietro Royalty</ion-title>
    <!-- <ion-title color="tertiary" class="ion-text-center ion-text-uppercase">{{ 'title' | translate }}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scrollEvents="false">
  <ion-grid fixed="true">
    <ion-row>
      <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="6">
        <ion-card *ngIf="post && post.images.length === 1">
          <ion-img [src]="post.imageSrc"></ion-img>
        </ion-card>
        <div *ngIf="post && post.images.length > 1" style="position: relative;">
          <div class="arrow left" (click)="slidePrev()">
            <ion-icon name="arrow-back"></ion-icon>
          </div>
          <div class="arrow right" (click)="slideNext()">
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
          <ion-slides #slider pager="true">
            <ion-slide *ngFor="let image of post.images; index as i">
              <ion-card>
                <ion-img [src]="post.getImageSrc(i)"></ion-img>
              </ion-card>
            </ion-slide>
            <!-- <button type="submit" float-left ion-button color="light" class="swiper-button-prev swiper-button-black" (click)="slidePrev()" [disabled]="slider.isBeginning()"></button>
            <button type="submit" float-right ion-button color="light" class="swiper-button-next swiper-button-black" (click)="slideNext()" [disabled]="slider.isEnd()"></button> -->
          </ion-slides>
        </div>
      </ion-col>
      <ion-col size="12" sizeMd="6" sizeLg="8" sizeXl="6">
        <ion-card *ngIf="post">
          <ion-card-header>
            <ion-card-title [innerHtml]="post.title" color="primary" class="ion-text-uppercase"></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text *ngFor="let text of post.text" [innerHtml]="text" color="primary"></ion-text>
            <div *ngIf="!!post.video">
            <iframe *ngFor="let url of post.video"
              width="100%"
              height="315"
              [src]="url | safe"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            </div>
            <div class="post-info">
              <ion-label color="secondary" slot="start">{{ post.date | date: 'mediumDate'}}</ion-label>
              <div>
                <ion-chip *ngFor="let tag of post.tags" color="tertiary" slot="end" style="cursor: auto"
                  >{{ tag.label | translate }}</ion-chip
                >
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <app-footer></app-footer> -->
</ion-content>
